
.contactForm{
        margin: 0 auto;
}

.FormContacto{
    padding-bottom: 16rem;
}
textarea:focus, input:focus, input[type]:focus {
    box-shadow: none;
    outline:none;
    border:0;
}


.btnForms{
    align-items:center;
    justify-content:center;
}

.textForms{
    color:#154360;
    font-weight: bold;
}